.footer {
  background-color: #111;
  color: #eee;
  padding: 20px;
  text-align: center;
}

.sobre {
  color: #ccc;
  margin: 0 10px;
}

.personajes {
  color: #ccc;
  margin: 0 10px;
}

.galeria {
  color: #ccc;
  margin: 0 10px;
}

.contacto {
  color: #ccc;
  margin: 0 10px;
}
